
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  background-color: #f3c32b;
  z-index: 3;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  max-width: 1280px;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem;
}

.footer-brand {
  max-width: 260px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logo-icon {
  height: 64px;
  display: block;
}

.footer-desc {
  color: #111;
  line-height: 1.6;
  font-size: 0.95rem;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 2rem;
  flex: 1;
  text-align: right;
}

.footer-col h4 {
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #111;
  font-size: 0.95rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #111;
  cursor: pointer;
}

.footer-col li:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #111;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #111;
  max-width: 1280px;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-icons a img {
  width: 22px;
  height: 22px;
  opacity: 0.7;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.social-icons a img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.social-icons span:hover {
  opacity: 1;
}

.footer-link {
  color: #111;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #111;
}

.counters {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}